:root {
  --transition-1: all 0.3s ease-in-out;
  --transition-2: all 0.1s ease-in-out;
}

html {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.contaier {
  width: 100vw;
  height: 100vh;
}

.header {
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
}

.no_result {
  margin: 0.15rem auto;
  padding: 0.6rem;
  max-width: 280px;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  outline: none;
}

.no_result:hover {
  cursor: default;
  background-color: #fff;
  border: 0.05rem solid #e3e3e3;
}

.no_result:focus {
  cursor: default;
  background-color: #fff;
  border: 0.05rem solid #e3e3e3;
}

.in {
  padding: 0 2rem 0 3.5rem;
  color: rgb(146, 122, 255);
  height: 3rem;
  width: 16.5rem;
  border: 0.05rem solid rgb(124, 122, 255);
  background: url("./images/magnifier.svg") no-repeat left/15% 1.5rem;
  box-shadow: rgba(255, 122, 122, 0.1) 0px 0px 20px 5px;
  position: relative;
  font-size: 1.2rem;
  outline: none;
  border-radius: 50rem;
  border: 0.05rem solid rgb(135, 152, 226);
  caret-color: rgb(122, 175, 255);
  transition: all 0.4s ease;
  -webkit-transition: all -webkit-transform 0.4s ease;
  text-overflow: ellipsis;
}

.out {
  position: relative;
  padding: 0 2rem 0 3.5rem;
  height: 2.1rem;
  width: 6rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 50rem;
  border: 0.05rem solid rgb(122, 135, 255);
  caret-color: rgb(122, 184, 255);
  color: rgba(255, 255, 255, 0);
  background: url("./images/magnifier.svg") no-repeat center/10% 1.5rem;
  transition: all 0.4s ease;
  -webkit-transition: all -webkit-transform 0.4s ease;
  text-overflow: ellipsis;
}

h1 {
  color: rgb(255, 255, 255);
  transition: var(--transition-1);
}


h4::selection {
  color: #c6ccff;
}


.mode {
  margin-top: 20px;
}


.selection {
  margin-top: 25vh;
  font-size: 2rem;
  font-weight: bold;
  color: #c6caff;
  transition: var(--transition-1);
}

.selection::selection {
  color: #64ceaa;
}

#autoComplete, #autoComplete:hover{
  border-color: rgb(122, 135, 255);
  caret-color: rgb(122, 135, 255);
  color: rgb(122, 135, 255);
}

#autoComplete:hover {
  color:rgb(122, 135, 255);
}

#autoComplete:hover::placeholder {
  color: rgb(214, 219, 255);
}